body, html {
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    height: auto;
    position: relative;
}

/* Layouting */
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}
