body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	/* background: #f5f5f5; */
	color: #4d4d4d;
	min-width: 230px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}

button {
	cursor: pointer;
	outline: none;
}

/* Style the input */
input[type="text"] {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
}

.pad-l-r-10 {
	padding: 0 10px;
}


.clickable {
	cursor: pointer;
}

.spacer {
	height: 20px;
}
