.footer {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.footer .filters {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

@media (min-width: 48em) {
  .footer {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
  }

  .footer .filters {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
  }
}

.footer .filters {
  padding: 0px;
}

.footer button {
  padding: 0px;
}

.footer button {
  font-size: 1em;
  font-weight: normal;
  border: 1px solid #ff9532;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #ff9532;
  background: transparent;
}

.footer button.selected {
  background: #ff9532;
  color: white;
}

.footer button.clear-completed {
  border: 1px solid #d0021b;
  color: #d0021b;
}
